@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

html {
    width: 100%;
    overflow-x: hidden;
}

:root {
    --cor-primaria: rgb(5, 4, 4);
    --cor-secundaria: #22D4FD;
    --cor-terciaria: #F6F6F6;
    --font-family: 'Montserrat', sans-serif;
    --font-size-base: 1rem;
    --font-size-heading: 2.125rem;
    /* 34px */
    --font-size-large: 1.875rem;
    /* 30px */
    --font-size-medium: 1.125rem;
    /* 18px */
    --font-weight-bold: 600;
    --font-weight-normal: 400;
    --font-weight-light: 300;
    --border-radius: 1.35rem;
    --transition-speed: 0.5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria);
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-style: normal;
    color: var(--cor-terciaria);
    font-size: var(--font-size-base);
    position: relative;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.918);
    overflow-x: hidden;
}

footer {
   width: 100%;
   padding: 3%;
   text-align: center;
   min-width: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 3rem;
    padding-top: 10%;
    gap: 2rem;
    color: var(--cor-terciaria);
    letter-spacing: 0.6px;
    font-size: var(--font-size-medium);
    flex-grow: 1;
}


ul,
li,
ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--cor-primaria);
    transition: var(--transition-speed);
}

strong {
    color: var(--cor-secundaria);
}

span {
    border: 2px solid var(--cor-secundaria);
    color: var(--cor-primaria);
    background-color: var(--cor-teciaria);
}

.cabecalho {
    max-width: 100%;
    padding: 2%;
    background-color: #272727;
    margin: 0;
}

.cabecalho-menu {
    display: flex;
    gap: 15%;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.cabecalho-menu-link {
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: var(--cor-secundaria);
}

.links {
    color: var(--cor-secundaria);
    text-decoration: underline;
}

.imagem-filtro {
    width: 10%;
    cursor: pointer;
}

.titulo-principal {
    font-family: var(--font-family);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold);
    padding-top: 10%;
    white-space: nowrap;
}

/* ANIMAÇÃO TITULO PRINCIPAL */
.animacao-texto {
    transition: var(--transition-speed);
}

.animacao-texto:hover {
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
}

.itens-esquerda {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    align-items: flex-start;
    padding-top: 2%;
    text-align: center;
    font-size: var(--font-size-large);
    align-items: center;
    justify-content: center;
}

.itens-esquerda-nome,
.itens-esquerda-funcao {
    white-space: nowrap;
    font-size: 30px;
    animation: nome-animado;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    transition: color 0.5s ease-in-out;
    animation-timing-function: ease-in-out;
    text-align: center;
    align-content: center;

}

/* Animação nome */
@keyframes nome-animado {
    0% {
        opacity: 0.5;
        transform: translateY(0);
        color: rgb(212, 30, 30);
    }

    25% {
        opacity: 1;
        transform: translateX(10px) translateY(0);
        color: red;
    }

    50% {
        transform: translateX(0) translateY(10px);
        color: green;
    }

    75% {
        transform: translateX(-10px) translateY(10px);
        color: rgb(255, 0, 234);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        color: #0b08f3;
    }
}

.itens-direita-imagem-real {
    filter: drop-shadow(0px 0px 0.625rem var(--cor-terciaria));
}

.conteudo-adicional-esquerda,
.conteudo-adicional-direita {
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.itens-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-bottom: 3rem;
}

.botoes {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.btn-linkedin,
.btn-github {
    border-radius: var(--border-radius);
    width: 90%;
    height: 3rem;
    align-items: center;
    text-align: center;
    font-weight: var(--font-weight-bold);
    color: var(--cor-terciaria);
    border: 2px solid var(--cor-secundaria);
    transition: var(--transition-speed);
}

.btn-linkedin:hover {
    background-image: url('img/linkedin_icon.png');
    background-color: #272727;
    background-position: 15%;
    background-repeat: no-repeat;
    background-size: 2.5rem;
}

.btn-github:hover {
    background-image: url('img/github_icon.png');
    background-color: #272727;
    background-position: 15%;
    background-repeat: no-repeat;
    background-size: 3.5rem;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.bloco {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

.conteudo-adicional {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    gap: 4rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
    text-align: left;
    justify-content: center;
    align-items: center;
}

.titulo-conteudo-adicional {
    text-align: center;
}

.conteudo-adicional-imagens {
    width: 700px;
    height: 450px;
}

.conteudo-adicional-primeiros-contatos,
.conteudo-adicional-coluna-carrossel {
    display: flex;
    flex-direction: row;
    padding: 4%;
    gap: 5%;
}

.conteudo-adicional-coluna-carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-adicional-direita-carrossel {
    padding: 8%;
}

.conteudo-adicional-coluna-carrossel {
    display: flex;
    gap: 2rem;
}

.conteudo-adicional-direita-carrossel {
    max-width: 100%;
}

.conteudo-adicional-primeiros-contatos-carrossel {
    overflow: hidden;
    width: 50%;
}

.conteudo-adicional-esquerda-carrossel-container {
    display: flex;
    width: calc(700px * 4);
    transition: transform 0.5s ease-in-out;
}

.conteudo-adicional-esquerda-carrossel-container {
    filter: drop-shadow(0px 0px 0.625rem #0b08f3);
}

/*seção de projetos */
.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projeto-1-naveguard-logo {
    width: 700px;
}

.naveguard-logo {
    color: #F6F6F6;
    background-color: #22D4FD;
    border: 2px solid #22D4FD;
    border-radius: 3%;
}

.projeto-1 {
    padding: 5%;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.projeto-1-direita {
    width: 100%;
    text-align: center;
    align-self: center;
    align-items: center;
}

.projeto-1-direita-link {
    color: #22D4FD;
    transition: .5s;
}

.projeto-1-direita-link:hover {
    background-color: #22D4FD;
    color: #F6F6F6;
    border-radius: 3%;
}

#curriculo_para_download {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    padding-bottom: 5%;
    text-align: center;
}

.btn_curriculo_para_download {
    justify-content: center;
    align-content: center;
    transition: var(--transition-speed);
    width: 20%;
    height: 2rem;
    border-radius: var(--border-radius);
    text-align: center;
    font-weight: var(--font-weight-bold);
    background-color: var(--cor-secundaria);
}

.btn_curriculo_para_download:hover {
    background-color: #47a7bd;
}

/* resolução que não funcionará */
.mensagem-resolucao {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    
}

@media (max-width:380) {
    .mensagem-resolucao {
        display: block;
        color: red;
        justify-content: center;
        
    }

    body *:not(.mensagem-resolucao) {
        display: none;
    }
}

@media (max-width: 1200px) {
    main {
        gap: 5%;
    }

    body {
        padding: 5%;
        text-align: left;
    }

    .conteudo-adicional {
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .conteudo-adicional img {
        justify-content: center;
        align-items: center;
    }

    .conteudo-adicional-primeiros-contatos {
        flex-direction: column;
    }

    .conteudo-adicional-coluna-carrossel {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #conteudo-adicional-primeiros-contatos-segunda-coluna,
    #conteudo-adicional-primeiros-contatos-quarta-coluna {
        flex-direction: column-reverse;
    }

    footer {
        width: 100%;
        min-width: 100vh;
    }
}

@media (max-width: 1156px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 980px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (min-width: 300px) and (max-width: 750px) {
    .cabecalho {
        width: 100%;
        height: auto;
        justify-content: space-between;
        padding-left: 32%;
        padding-right: 32%;
        margin: 0;
        position: fixed;
    }

    nav {
        margin: 0;
    }

    .imagem-filtro {
        width: 35%;
        transition: .5s;
    }

    .titulo-principal {
        font-size: 17px;
        padding-top: 25%;
    }

    .itens-esquerda-nome,
    .itens-esquerda-funcao {
        font-size: 20px;
    }

    .itens-direita img {
        width: 300px;
    }

    .botoes {
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        border: 5px;
        display: flex;
        flex-direction: column;
        gap: 25px;

    }

    .btn-linkedin,
    .btn-github {
        padding: 5% 5% 5% 5%;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }

    .bloco {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .conteudo-adicional-primeiros-contatos,
    .conteudo-adicional-coluna-carrossel {
        font-weight: 700;
        font-size: 15px;
        text-align: left;
        display: flex;
        gap: 1rem;

        p {
            font-weight: 300;
        }

        h2 {
            font-weight: 500;
            font-size: 20px;
        }
    }

    .conteudo-adicional-imagens {
        width: 380px;
        height: 230px;
    }

    .conteudo-adicional-coluna-carrossel {
        display: flex;
        flex-direction: column-reverse;
    }

    .projeto-1-direita {}

    .projeto-1-naveguard-logo {
        width: 90%;
    }

    .btn_curriculo_para_download {
        width: 13rem;
    }

    #curriculo_para_download {
        font-size: 20px;
        font-weight: 200;
        text-align: center;
    }

    footer {
        text-align: center;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #272727;
        position: relative;
        bottom: 0;
        left: 0;
        margin-top: auto;
        clear: both;
    }

}